@model BusinessEntity.BankBE

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que deseas eliminar?</h3>
<fieldset>
    <legend>Banco</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
        :
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
        :
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RegistrationDate)
        :
        @Html.DisplayFor(model => model.RegistrationDate)
    </div>
</fieldset>
<p style="color: red">
    @ViewBag.Error
</p>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Eliminar" />
        |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
