@model IEnumerable<BusinessEntity.BankBE>

@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento de Bancos</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationDate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Ver Sucursales", "GetBranchList", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Nuevo Banco", "Create")
</p>
<p>
    &nbsp;
</p>
<p>
    @Html.ActionLink("Ir a Mantenimiento de Sucursales", "Index", "Branch")
</p>
<p>
    @Html.ActionLink("Ir a Mantenimiento de Ordenes de Pago", "Index", "PaymentOrder")
</p>