@model IEnumerable<BusinessEntity.CurrencyBE>

@{
    ViewBag.Title = "GetCurrencyList";
}

<h2>Elija el tipo de Moneda</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Ver Ordenes de Pago", "GetPaymentOrderList", new { id=item.Id })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Regresar", "Index")
</div>